/* This file is for your main application css. */

@import "bootstrap";


.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }

// .board {
//     max-width: 50%;
//     margin: 2em auto;
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     justify-content: center;
//     grid-gap :10px;
//
// }

.container {
  margin: 2em auto;
  width: 60%;
  text-align: center;
}

.tile {
  min-height: 6em;
  border: 1px solid;
  text-align: center;
}

.tile p {
  margin: auto 0;
}

.gadgets {
  margin: 2em;
}

input[type=text] {
    width: 50%;
    font-size:24px;
    margin: 2em 2em 0 2em;

}
